body{
  background-color: #F6F8FB;
}
#para1{
  display: inline-block;
}
#start{
  background-color: #FFFFFF;
  color: #777777;
}
#reset{
  background-color: #4787D1;
  color: #FFFFFF;
}
#start, #reset{
  border-radius: 50%;
  height: 15vh;
  width: 15vh;
  font-size: 1.5rem;
}
#timer{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8rem;
}
#timer p, #timer button{
  margin: 3% 0;
  vertical-align: middle;
}
p{
  color: #777777;
}
#edit{
  color: #8292C8;
}
#set-div{
  display: none;
}
input{
  width: 40px;
}